body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.img-categoria{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.full-viewport {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .video-principal{
    width: 100vw;
    height: 40vh;           /* ajusta este valor a tu gusto */
    object-fit: cover;       /* cubre todo, recortando si hace falta */
    display: block;
  }

  .card-img-top {
  height: 350px; /* o el alto que prefieras */
  object-fit: cover;
}